python-dotenv
requests
google-genai
streamlit
pypdf
python-docx
Pillow
google-api-python-client
google-auth
google-auth-oauthlib
pymongo
yt-dlp
fastapi
uvicorn[standard]
google-cloud-storage
markdown
